/* home banner slider */
.banner-slider-item{
    height: 400px;
    /* background: rgb(0 0 0 / 43%);
    backdrop-filter: blur(300px); */
  
   
}

.banner-slider-container{
    padding-top: 30px 10px;
    background: rgb(0 0 0 / 43%);
    backdrop-filter: blur(300px);
    max-width: 1370px;
    border-radius: 20px;
    margin: 10px ;

}
.banner-img-box{
    width: 100%;
    height: 400px;
}

.banner-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-content{
    padding: 20px;
    max-width: 550px;
}
.banner-txt {
    text-align: center;
    font-size: clamp(24px, 8vw, 42px); /* Adjusts font size based on viewport width */
    font-weight: 400;
    line-height: 50px;
}


.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.5) !important; /* Change color of pagination dots */
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet-active {
    background-color: #fff !important; /* Active dot color */
  }
  @media screen and (max-width: 768px) {
    .grid-2 {
        grid-template-columns: 1fr  ; /* Two equal columns */
       
    }
    .grid-2 > div:first-child {
        order: 2; /* Place the first item second */
    }

    .grid-2 > div:last-child {
        order: 1; /* Place the last item first */
    }
    .banner-slider-item{
        height: 100%;
    }
    .banner-img-box {
        width: 100%;
        height: 100%;
    }
}

/* all users section */
.epiic-users-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}
.epiic-users-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    color: #fff;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width:900px) {
    .epiic-users-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        color: #fff;
        max-width: 1000px;
        justify-content: center;
        align-items: center;
      }
  }
  @media screen and (max-width:568px) {
    .epiic-users-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        color: #fff;
        max-width: 1000px;
        justify-content: center;
        align-items: center;
      }
  }
  .epiic-users-card {
    text-align: center;
    padding: 20px;
    background: rgb(23 23 23 / 37%);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
    width: 195px;
    height: 151px;

  }
  .epiic-users-icon {
    width: 100%;
    height: 100%;
  }
  
 
  
  .epiic-users-title {
font-size: 14px;
font-weight: 700;
line-height: 26px;
text-align: center;

  }
  
  .epiic-users-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    background: rgb(23 23 23 / 37%);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

  }
  
  .epiic-users-login-button,
  .epiic-users-register-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: 400;
  }
  
  .epiic-users-login-button {
    background-color: #fff;
    color: #000;
  }
  .epiic-users-register-button {
    background: transparent;
    color: #fff;
  }
  .epiic-users-card-box{
    max-width: 197px;
    max-height: 218px;
    min-width: 197px;
    min-height: 218px;
  }

  /* login form */
  .back-btn-box{
    width: 100%;
   padding: 10px 20px;
  }
  .back-btn{
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;

  }
  .login-container , .register-container{
    padding: 30px 0px;
  }
  .login-grid-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    gap: 20px; /* Space between columns */
    padding: 20px;
    max-height: 100vh;
  }
  @media (max-width: 768px) {
    .login-grid-box {
      grid-template-columns: 1fr; /* 1 column */
      padding: 10px;
    }
  }
  .login-tittle-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-head{
    font-size: clamp(20px, 4vw, 45px);
    font-weight: 800;
    padding-bottom: 10px;
    list-style: 65px;
  }
  .login-text{
    font-size: clamp(16px, 4vw, 30px);
    font-weight: 700;
    padding-top: 15px;
  }
  .login-form-box{
    max-width: 450px;
    min-width: 280px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.25);
   padding: 25px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 20px;
  }
  .login-form-heading{
    color: rgba(0, 0, 0, 1) !important;
   font-size: 24px;
    font-weight: 700 !important;
   line-height: 26px;
text-align: center;
  }
  .login-form{
    margin-top: 40px;

   
  }
  .form-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
   margin-bottom: 20px;
   width: 100%;
   align-items: center;
    justify-content: center;
    
  }
  .input-label{
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
    width: 100%;
    max-width: 352px;

  }
  .input-text{
    border: 1.03px solid rgba(120, 120, 120, 1);
    outline: none;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
   border-radius: 18px;
   width: 100%;
   height: 44px;
   background: transparent;
   padding-left: 20px;
   max-width: 352px;

  }

  input::placeholder,
textarea::placeholder,
select::placeholder {
  color: rgb(65, 64, 64);
  font-size: 12px;
  font-weight: 600;
}
.form-link-box{
  width: 100%;
  margin-bottom: 15px;
  padding: 0px 10px;
}
.forgot-link{
  float: right;
font-size: 14px;
font-weight: 700;
line-height: 26px;
text-decoration: none;
color: rgba(0, 0, 0, 1) !important;
}
.login-btn , .submit-btn{
font-size: 18px;
font-weight: 700;
line-height: 26px;
color: rgba(0, 0, 0, 1);
padding: 6px 30px;
border: none;
border-radius: 20px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
background: rgba(255, 255, 255, 1);
margin-top: 15px;
cursor: pointer;

}
.form-multi-link{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 1) !important;

}
.form-link ,.sign-link{
font-size: 14px;
font-weight: 600;
line-height: 26px;
text-decoration: none;
color: rgba(0, 0, 0, 1) !important;
}
.error-input label{
color: rgba(255, 0, 0, 1) !important;
}
.error-input .err-input-field{
  border: 1px solid rgba(255, 0, 0, 1);
  }

  /* .error-input  input::placeholder,
  .error-input textarea::placeholder,
  .error-input select::placeholder{
    color: rgba(255, 0, 0, 1) !important;
    font-weight: 400;

  } */
  .error-input .err-input-field::placeholder{
    color: rgba(255, 0, 0, 1) !important;
    font-weight: 400;
    }
  
  .error-input .error{
    color: rgba(196, 0, 0, 1) !important;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    position: relative;
  }
  .error{
    color: rgba(196, 0, 0, 1) !important;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    position: relative;
  }
  .error::after{
    content: '';
    background-image: url('../images/Error.svg');
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    right: 5px;
  }
  .error-input .error::after{
    content: '';
    background-image: url('../images/Error.svg');
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    right: 5px;
  }

  /* register form */
  .register-form-container{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    padding: 10px;
  
  }
  .register-form-box{
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.589);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .register-heading h2{
font-size: 24px;
font-weight: 700;
line-height: 26px;
color: rgba(0, 0, 0, 1) !important;
padding: 40px 10px;
text-align: center;
  }
  .register-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    gap: 10px; /* Space between columns */
    justify-items: center; /* Center grid items horizontally */
    align-items: center; /* Center grid items vertically */
    padding: 5px;
    padding-bottom: 20px;
  }
  
  .register-col {
    width: 100%; /* Ensure columns take full width */
    height: 100%;
  }
  
  .register-form-control {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 380px;
    height: 100%;
    margin: 0 auto;
    justify-content: flex-start;
  }
  
  .register-label {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 15px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 1) !important;
  }
  
  .register-input {
    padding: 10px 20px;
    width: 100%; /* Ensure the input takes the full width of the column */
    /* max-width: 350px;  */
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    border: 1px solid #000000;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    height: 45px;
    font-size: 12px;

  }
  .otp-btn
  {
    width: fit-content;
    padding: 10px 25px;
    border-radius: 20px;
    border: 2.03px solid rgba(120, 120, 120, 1);
    outline: none;
    background: #ffff;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
    cursor: pointer;
  }
  .register-input::placeholder{
    color: rgb(65, 64, 64);
    font-weight: 500;
  }
  .register-terms{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    flex-direction: column;
    gap: 10px;
  }
  .checkbox-box
  {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .checkbox-box p{
    color: #000 !important;
    font-weight: 700;
    font-size: 16px;

  }
  .term-checkbox{
    width: 20px;
    height: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 background: #fff;
  }
  .PhoneInputInput {
    flex: 1 1;
    min-width: 0;
    height: 35px;
    background: transparent;
    outline: none;
    border: none;
}
.PhoneInputCountrySelectArrow {
  color: #000000 !important;
  padding-left: 5px;

}
.mobile-input{
  padding: 0px 10px;
}
.PhoneInputCountryIcon {
 
  width: 30px;
  height: 30px;
}
.PhoneInputCountrySelectArrow {
  width: 15px !important;
  height: 15px !important;
  background-image: url('../images/spin.png') !important; /* Replace with your image URL */
  background-size: cover !important; /* Ensure the image covers the entire area */
  background-repeat: no-repeat !important; /* Prevent the image from repeating */
  background-position: center !important; /* Center the image inside the element */
  margin: 0px 5px;
  border: none;
  transform: rotate(0deg) !important;
  border: 0px !important;
}

.verify-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  align-items: end;
}
.resent-otp{
  color: #000000 !important;
  text-decoration: none;
  font-size: 12px;
}
.otp-box{
  flex-direction: row;
    gap: 15px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Space between the input boxes */
}

.otp-input {
  width: 40px; /* Set the width of the input boxes */
  height: 40px; /* Set the height of the input boxes */
  text-align: center; /* Center the number inside the input */
  font-size: 24px; /* Increase the font size */
  border: 1px solid #ccc; /* Border around the input */
  border-radius: 5px; /* Rounded corners for the input */
  outline: none;
  transition: border-color 0.3s ease; /* Smooth border color transition */
  -webkit-appearance: none; /* Hide spinner in webkit browsers */
  appearance: none; /* Hide spinner in non-webkit browsers */
}
.otp-input.not-empty {
  background: #e2e2e2;
}
.otp-input:focus {
  border-color: #009fe3; /* Change border color when focused */
}
.register-input.success-input-field {
  border: 2px solid green;
}
.success{
  color:green !important;
  font-size: 12px;
  font-weight: 700;
  text-align: right;
}
.resent-otp {
  margin-top: 10px;
  font-size: 14px;
  color: #009fe3;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  background: transparent;
  border: none;
}
.d-inline{
  display: flex;
  gap: 20px;
  text-wrap-mode: nowrap;
}
.otp-message{
  margin-top: 10px;
}
.resent-otp:hover {
  color: #006fa2; /* Darker color on hover */
}
.otp-btn{
  height: 40px;
  width: fit-content;
}
.verified-btn{
  width: fit-content;
  padding: 10px 30px;
  border-radius: 20px;
  border: 2px solid green;
  background-color: green;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  margin-top: 25px;
  cursor: not-allowed;
}
  @media (max-width: 768px) {
    .register-row {
      grid-template-columns: 1fr; /* Switch to single column on smaller screens */
      gap: 10px;
      padding: 0px;
      margin-bottom: 10px;
    }
    .register-form-box {
      padding: 10px;
    }
    .register-heading h2 {
      font-size: 20px;
      padding: 30px ;
    }
    .otp-btn
    {
      margin-top: 0px;
    }
    .verify-box {
      margin-top: 0px;
    }
    .verified-btn{
      margin-top: 0px;
    }
  }
  

.otp-box{
  align-items: center;
}
.toast-error{
  color: red !important;
}
.toast-success{
  color:green !important
}

/* corporate */
.corporate-head{
  text-align: center;
  padding: 0px 10px;
  padding-bottom: 10px;
  color: #000000;
}
.corporate-basic-box{
  /* padding: 20px 10px; */
  padding-bottom: 10px;
}
.corporate-border{
  border: 1px solid #000000;
  box-shadow: 0px 0px 0px 0px #00000040;
  border-radius: 20px;
  padding: 20px;
  /* margin: 20px; */
  margin-top: 10px;
  margin-bottom: 10px;
}
.corporate-box{
  max-width: 1000px;
}
@media screen and (max-width:768px) {
  .corporate-border{
    padding: 10px 5px;
    margin: 0px;
  }
}
@media screen and (max-width:568px) {
  .d-inline{
    flex-wrap: wrap;
  }
  .corporate-border {
    padding: 20px 20px;
    margin: 0px;
    margin-bottom: 15px;
}
.register-heading h2 {
  font-size: 20px;
  padding: 10px;
  padding-top: 20px;
}
.corporate-head {
  padding-bottom: 10px;
  font-size: 22px;
}
.register-form-box {
  padding: 20px 10px;
}
}
.corporate-reset{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.dropdown-container{
  position: relative;
}
.dropdown-option-box{
  position: absolute;
  top:100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  max-width: 100%;
  min-width: 300px;
  width: 360px;
  margin-top: 5px;
  max-height: 210px;
  overflow-y: auto;
  box-sizing: border-box;
  clip-path: inset(0 round 20px); /* Ensures content including scrollbar is inside border-radius */
  z-index: 1;
}

/* Custom scrollbar styles */
.dropdown-option-box::-webkit-scrollbar {
  width: 8px;
  height: 8px;

}

.dropdown-option-box::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 20px;
}

.dropdown-option-box::-webkit-scrollbar-thumb {
  background-color: #c4c4c4; /* Scrollbar thumb color */
  border-radius: 20px;
}
/* Hide scrollbar buttons (arrows) */
.dropdown-option-box::-webkit-scrollbar-button {
  display: none; /* Hides the scrollbar buttons */
}

.dropdown-option-box::-webkit-scrollbar-thumb:hover {
  background-color: #e2e2e2; /* Thumb color on hover */
}
.dropdown-container
{
  list-style: none;
 
}
.dropdown-container li{
  color: #000000;
  font-size: 12px;
  padding: 13px 20px ;
  border-bottom: 1px solid #ECECEC;
  transition: all 0.5s ease;
  cursor: pointer;

}
.dropdown-container li:hover{
  background-color: #e2e2e2;
}
.dropdown-container li:nth-child(1):hover{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.dropdown-container li:nth-last-child(1):hover{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.search-box-container{
  position: relative;
  display: flex;
  align-items: center;
}
.search-icon {
  position: absolute;
  left: 10px; /* Place search icon inside left of the input */
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

.dropdown-icon {
  position: absolute;
  right: 10px; /* Place down arrow icon inside right of the input */
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  cursor: pointer;
}

.drodown-input{
  padding-left: 30px; /* Make space for the search icon */
  padding-right: 30px; /* Make space for the down arrow icon */
}
.not-found {
  color: gray;
  font-style: italic;
  padding: 10px;
  text-align: center;
}
.register-full-row{
  display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: start;
    align-items: center;
    padding: 5px;
    padding-bottom: 20px;
    max-width: 850px;
    margin: 0 auto;
}
.textarea-input{
  padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    border: 1px solid #000000;
    font-size: 12px;
    height: 100%;
}
.save-btn{
 
    width: fit-content;
    padding: 10px 25px;
    border-radius: 20px;
    border: 2.03px solid transparent;
    outline: none;
    background: #ffff;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 3px 4px 10px 0px #00000040;
    display: flex;
    align-items: center;
    gap: 10px;


}
.save-btn i{
  font-weight: 800;
  font-size: 25px;
}
.save-btn p{
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 700;
}
.d-center
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.about-box{
  padding: 10px;
  padding-top: 20px;
}
.corporate-borderless {
  border: none;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.file-btn{
  width: fit-content;
  border-radius: 15px;
  border: none;
  background: #000000;
  color: #fff;
  padding: 7px 15px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
.logo-input-container{
  max-width: 850px;
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  padding: 15px 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
background: #ffff;
cursor: pointer;
border: 2px solid transparent; /* Change to the desired color when dragging */
transition: all 0.5s ease;

}
.logo-file-upload-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.logo-file-upload-content span{
  color: #484848;
  font-size: 10px;
  font-weight: 400;


}
.logo-file-upload-content p{
color: #000000;
font-size: 12px;
font-weight: 400;
}
.logo-input-container.drag-over {
  border: 2px solid #009fe3; /* Change to the desired color when dragging */
}
.file-error{
width: 100%;
 padding: 10px;
  
}
.file-error .error{
  max-width: 100%;
}
.address-content{
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.address-item{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

}
.address-data{
  color: #000000;
  font-size: 16px;
  font-weight: 800;
}
.address-item .dropdown-icon{
  position: unset;
  font-size: 35px;
}
.address-saved-box{
  margin-top: 20px;
 margin-bottom: 10px; 
}
.address-view-box{
  margin-bottom: 10px;
}
.address-view-data span{
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  text-wrap-mode: nowrap;
}
.address-view-data p{
  font-size: 16px;
  font-weight: 400;
  color: #484646;
  white-space: wrap;        /* Prevent the text from wrapping */
  overflow: hidden;           /* Hide the overflow text */
  text-overflow: ellipsis;     /* Show ellipsis (...) for overflow text */
}

.address-view-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.address-view-item {
  flex-grow: 1;              /* Allow the item to grow */
  flex-shrink: 0;            /* Prevent the item from shrinking too much */
  min-width: 250px;          /* Set a minimum width to prevent items from becoming too small */
  max-width: auto;           /* Let the item size adjust based on content */
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
}
.address-input{
  border-radius: 15px;
  height: 55px;
}